<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
  </br></br></br>
    <div class="row" style="text-align:center">
      <h1>Utoble</h1>
      <p class="lead">Democracy for YouTube</p>
      <a class="btn btn-primary" href="/join">Join a Toble</a>
      <a class="btn btn-primary" href="/host">Host a Toble</a>

    </div>




  </br></br></br>
  </div> <!-- /container -->

  <% include ../partials/footer.ejs %>

</body>
</html>
