<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
  </br></br></br>
    <div class="row">

      <div id="subtitle">
        <h1>Join a Party</h1>
      </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      </br>
      <div class="input-group">
        <input type="text" class="form-control" id="join" placeholder="Enter the party code">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="window.location.href = '/party/' + $( '#join' ).val();">Join</button>
        </span>
      </div><!-- /input-group -->
    </div>

    <div class="col-sm-4"></div>

    </div>




  </br></br></br>
  </div> <!-- /container -->

  <% include ../partials/footer.ejs %>

</body>
</html>
