<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
  </br></br></br>
    <div class="row">
      <div id="subtitle">
        <h1>Your Toble</h1>
        <h3>Toble Code: <%= code%></h3>
      </div></br>
      <div class="col-md-6">
        <div class="list-group">
          <div class="list-group-item active" id="search">
            <table>
              <tr>
                <td><i class="glyphicon glyphicon-search"></i></td>
                <td><input type="text" class="form-control" id="searchinput" placeholder="Search for a video or song..." /></td> 
              </tr>
            </table>
          </div>
          <div id="searchresults">
          
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="list-group">
          <div class="list-group-item active" id="nowplaying">
            <span class="badge votecount">?</span>
            <table style="width: auto;">
              <tr>
                <td><i class="glyphicon glyphicon-play"></i></td>
                <td class="title"></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div id="queue">

          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <div id="search-container"></div>
  <div id="toblecode" style="display: none;"><%= code%></div>
  <div id="googleapikey" style="display: none;"><%= googleapikey%></div>
  <% include ../partials/footer.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/toble.css" />
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
  <script src="/js/toble.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=initializeYoutubeAPI"></script>
</body>
</html>
